<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off"/>
        <machineKey validationKey='CAA8B28971E0FDA838BE3E6B8778D3C7BD2F56A73A9252B1DF9FD79A168851BF0967A2E938B02271CB13E89AEC4CC36A111691E0DDABF3206720D944E50E581E'   decryptionKey='8728CDDD8D4B04C23C14B871D1F4A2CD293495250A0542E1'   validation='SHA1'/>

    </system.web>
  <appSettings>
    <add key="Debug" value="true"/>
    <add key="isMySQL" value="true"/>
    <add key="GoogleMapKey" value="ABQIAAAA0tyI8xJRiFL1ApYUlaK0YxSW7skf9Dkd48lfnm_elhP6b40ILRRPeOK1U4weMlUjZxh0ZiN3lqkZGA"/>
    <add key="googlemaps.subgurim.net" value="ABQIAAAA0tyI8xJRiFL1ApYUlaK0YxSW7skf9Dkd48lfnm_elhP6b40ILRRPeOK1U4weMlUjZxh0ZiN3lqkZGA"/>
  </appSettings>

  <connectionStrings> <!--surfvind-129649.mysql.binero.se-->
    <add name="mySqlConnStr" connectionString="Server=surfvind-129649.mysql.binero.se; UserId=129649_yc97877; Password=Thomtris1; Database=129649-surfvind" providerName="MySql.Data.MySqlClient"/>
    <add name="mySqlConnStrDebug" connectionString="Server=127.0.0.1; UserId=129649_yc97877; Password=Thomtris1; Database=129649-surfvind" providerName="MySql.Data.MySqlClient"/>
   
  </connectionStrings>


  <system.serviceModel>
    <services>
      <service name="Surfvind_2011.RestService1" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="Surfvind_2011.IRestService1" behaviorConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
     <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
 
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>


</configuration>
