body
{
background: #ffffff url('../design/ws_background.png') 0 0 repeat-x;
font-family: tahoma, sans-serif;
color: #666666;
padding: 0em;
margin: 0em;
}

a
{
text-decoration: underline;
}

img
{
border: 0em;
margin: 0em;
}

table
{
border-style: none;
    border-color: inherit;
    border-width: 0em;
    border-collapse: collapse;
    margin: 0em;
    height: 197px;
    width: 123px;
}

td, div, form
{
padding: 0em;
margin: 0em;
}
